.App {
  text-align: center;
  height: inherit;
  width: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.divider {
  background-color: rgba(0, 0, 0, 0.21);
  width: 100%;
  height: 0.5px;
}

div.divider.vertical {
  height: 100%;
  width: 0.5px;
}

.absolute {
  position: absolute;
}

div.absolute.bottom-0 {
  bottom: 0;
}
